// Body
$body-bg: #F5F5F5;

//Colors
$fixed-elements: #EEEEEE;
$border-color: #E0E0E0;
$sub-heading: #757575;
$text-color: #424242;
$primary: #191919;
$action: #0898DF;
$wating: #FFEB3B;
$wating-bg: #E1F5FF;
$red: #F44336;
$success: #00C853;
$white: #FFF;
$grey: #757575;
$dark: #191919;
$light-green: #E1F5FF;
$light: #C8C8C8;
$light-warning: #FFFCE1;
$dark-warning: #E4CF23;
$light-error: #FEECEA;
$error: #F44336;
